{echo:JS::import('date');}
<style>
  .control-label{padding:5px;}
</style>

<div class="panel-wrapper collapse in">
  <div class="panel-body">
      <div class="col-md-11 col-sm-11 col-xs-11">
        {if:isset($errmsg)}
        <div class="message">{$errmsg}</div>
        {/if}
        <form action="{url:/meruser/save}" class="form-horizontal" id="edit-form" name="edit-form" method="post">
          
              {if:isset($id) && $id}
              <input type="hidden" name="id" value="{$id}">
              {else:}
              <input type="hidden" name="created_type" value="3">
              <input type="hidden" name="created_byid" value="{$this->manager['id']}">
              {/if}
              
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3">商户：</label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                  <select class="form-control" name="mer_id" id="mer_id" pattern="required">
                    {set:$mer_id=isset($mer_id)?$mer_id:0}
                    {widget:name=whole action=merchantWidget mer_id=$mer_id}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3">账号：</label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                  <input type="text" class="form-control" placeholder="请输入账号"  name="name" id="name" value="{$name}" pattern="required">
                </div>
              </div>
              {if:!isset($id)}
              <div class="form-group">
                <label class="col-md-3 col-sm-3 control-label">*密码：</label>
                <div class="col-md-9 col-sm-9">
                  <input type="password" class="form-control" name="password" placeholder="请输入密码" autocomplete="new-password"  bind="repassword" pattern="\w{6,}" alt="密码长度必须大于6位">
                  <label class="valid-msg"></label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 col-sm-3 control-label">*密码确认：</label>
                <div class="col-md-9 col-sm-9">
                  <input type="password" class="form-control" name="repassword" placeholder="请再次输入密码" autocomplete="new-password" bind="password" alt="密码输入必须一致">
                  <label class="valid-msg"></label>
                </div>
              </div>
              {/if}
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3">邮箱地址：</label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                  <input type="text" class="form-control" placeholder="请输入邮箱地址" name="email" id="email" value="{$email}" pattern="email" alt="请输入正确的邮箱地址">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-3">手机号码：</label>
                <div class="col-md-9 col-sm-9 col-xs-9">
                  <input type="text" class="form-control" placeholder="请输入手机号码" name="mobile" id="mobile" value="{$mobile}" pattern="mobi">
                </div>
              </div>
            <div class="form-actions mt-30">
              {token:key=form}
              <div class="form-group">
                
                <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                  <button type="button" class="btn btn-primary mr-20" id="btnsave">保存</button>
                  <!-- <button type="button" class="btn btn-success" id="btnsubmit">提交</button> -->
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{widget:name=public action=downWidget} 

<script type="text/javascript">
  
    $("#btnsave").on("click",function(){
      $("#status").val(1);
      $("#edit-form").submit();
    });

</script>