<!DOCTYPE html>
<html>
	<head>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.3, maximum-scale=0.3, minimum-scale=0.3">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>媒查查-全网无差价 就找媒查查</title>
    <meta name="description" content="媒查查-全网无差价 就找媒查查">
    <meta name="keywords" content="媒查查-全网无差价 就找媒查查">
	<link rel="stylesheet" href="./static/frontend/css/style.css" />
	<link rel="stylesheet" href="./static/frontend/css/global.css" />
	<link rel="stylesheet" href="./static/frontend/css/bootstrap.min.css" />
	<link rel="stylesheet" href="./static/frontend/css/swiper.css" />
	<link rel="stylesheet" href="./static/frontend/css/animate.min.css" />
  </head>
  <body>
<header class="navbar navbar-fixed-top my-navbar top-nav" role="navigation" style="box-shadow:0px 0px 5px 0px rgba(0, 0, 0, 0.2);">
	
		<!--<div id="top" class="navbar-ﬁxed-top">
			111
		</div>-->
<!--TOP--> 
		<div class="w1200">
			<div class="logo fl"><a href="#"></a></div>
			<div class="menu fl">
				<ul>
					<li><a href="/"  class="active" >首页</a></li>
					<li><a href="javascript:#;" >媒体资源</a></li>
					<li><a href="javascript:#;" >自媒体资源</a></li>
					<li><a href="javascript:#;" >文案撰写</a></li>
					<li><a href="javascript:#;" >合作加盟</a></li>
					<li>
					<a href="" >营销学院</a>
					</li>
					<li><a href="" >联系我们</a></li>
				</ul>
			</div>
			<div class="seach fl" style="display: none;"><a href="#"><img src="./static/frontend/images/icon_search.png"></a></div>
			<div class="login fr">
				<a href="/index.php?con=index&act=login" class="login_signin">登陆</a>
				<a href="/index.php?con=index&act=register" class="login_register">注册</a>
			</div>
		</div>
    </header>

		<div>
			{__viewcontents}
		</div>
<footer>
			<div class="footer_one">
				<div class="w1200">
					<h3>全网无差价&nbsp;就找媒查查</h3>
					<p>帮您全方位打造营销方案！</p>
					<span><a href="/index/index/index.html" class="active">发布文章</a></span><span><a href="/index/frontend/teamwork.html">加盟申请</a></span>
				</div>
			</div>
			<div class="footer_two">
				<div class="w1200">
					<div class="footer_logo">
						<img src="./static/frontend/images/bottom_logo.png">
					</div>
					<div class="basics fl">
						<h3>基础设施</h3>
						<p><a href="/index/frontend/resources.html">媒体价格</a><a href="/index/frontend/media.html">自媒体价格</a><a href="/index/frontend/copywriting.html">软文代写</a><a href="javascript:;">AI智能发布</a><a href="/index/frontend/article.html">共识学院</a></p>
						<h3 style="margin-top: 20px;">服务与支持</h3>
						<p><a href="/index/frontend/article.html">媒体资讯</a><a href="/index/frontend/article.html">帮助中心</a><a href="/index/frontend/contact.html">公司简介</a><a href="/index/frontend/contact.html">加入我们</a><a href="/index/frontend/contact.html">联系我们</a><a href="javascript:;">用户协议</a><a href="http://95876894.b2b.11467.com/">顺企网</a></p>
					</div>
					<div class="tel fl">
						<h3>招商加盟QQ</h3> 
						<p>3008010996</p>
						<h3 style="margin-top: 14px;">邮箱</h3>
						<p>szmeicha@163.com</p>
					</div>
					<div class="ewm fl">
						<img src="./static/frontend/images/gongzhonghao.png"><br />关注公众号
					</div>
					<div class="clear"></div>
					<div class="cpn"><a href="http://www.beian.miit.gov.cn" target="_blank">粤ICP备19134335号-1</a> 媒查查©2020 All Right Reserved. 版权所有：媒查查-媒体服务平台</div>
				</div>
			</div>
</footer>
<style>
.izl-rmenu2{position:fixed; right:0; bottom:20px; padding-bottom:20px; z-index:999; }
.izl-rmenu2 .btn2{width:72px; height:73px; margin-bottom:1px; cursor:pointer; position:relative;}
.izl-rmenu2 .btn2-shouye{background:url(./static/frontend/images/lrtk/shouye.png) no-repeat center; background-color:#68789e;}
.izl-rmenu2 .btn2-shouye:hover{background-color:#0F80FF;}
.izl-rmenu2 a.btn2-shouye,.izl-rmenu a.btn2-shouye:visited{background:url(./static/frontend/images/lrtk/shouye.png) no-repeat center; background-color:#68789e; text-decoration:none; display:block;}.izl-rmenu .btn2-houtai{background:url(../images/houtai.png) no-repeat center; background-color:#68789e;}
.izl-rmenu2 .btn2-houtai:hover{background-color:#0F80FF;}
.izl-rmenu2 a.btn2-houtai,.izl-rmenu a.btn2-houtai:visited{background:url(./static/frontend/images/lrtk/houtai.png) no-repeat center; background-color:#68789e; text-decoration:none; display:block;}
.izl-rmenu2 .btn2-wx{background:url(./static/frontend/images/lrtk/r_wx.png) no-repeat center; background-color:#68789e;}
.izl-rmenu2 .btn2-wx:hover{background-color:#0F80FF;}
.izl-rmenu2 .btn2-wx .pic2{position:absolute; left:-150px; top:0px; display:none;width:150px;height:150px;}
.izl-rmenu2 .btn2-phone{background:url(./static/frontend/images/lrtk/r_qq.png) no-repeat center; background-color:#68789e;}
.izl-rmenu2 .btn2-phone:hover{background-color:#0F80FF;}
.izl-rmenu2 .btn2-phone .phone2{background-color:#ffffff; position:absolute; width:138px; left:-138px; top:0px; line-height:38px; color:#FFF; font-size:15px; text-align:center; display:none;padding:18px 0px 18px 0px;}
.izl-rmenu2 .btn2-top{background:url(./static/frontend/images/lrtk/top.png) no-repeat center; background-color:#68789e;}
.izl-rmenu2 .btn2-top:hover{background-color:#0F80FF;}
.izl-rmenu2 a{color:#ffffff;text-decoration:none;font-size:15px;}
</style>
<div id="top">
	<div id="izl_rmenu2" class="izl-rmenu2">
		<a href="/" class="btn2 btn2-shouye" title="首页"></a>
		<a href="/index/article/index.html" class="btn2 btn2-houtai" title="快速发稿"></a>
		<div class="btn2 btn2-phone">
			<div class="phone2">
				<p style="background:url('./static/frontend/images/lrtk/lianxiqq.png') no-repeat center;">
					<a href="javascript:;" onclick="window.open('http://wpa.qq.com/msgrd?v=3&uin=3008010951&site=qq&menu=yes');" title="客服甜甜"> &nbsp; &nbsp; 客服甜甜</a>
				</p>
				<p style="background:url('./static/frontend/images/lrtk/lianxiqq.png') no-repeat center;">
					<a href="javascript:;" onclick="window.open('http://wpa.qq.com/msgrd?v=3&uin=3008009548&site=qq&menu=yes');" title="客服东东"> &nbsp; &nbsp; 客服东东</a>
				</p>
				<p style="background:url('./static/frontend/images/lrtk/lianxiqq.png') no-repeat center;">
					<a href="javascript:;" onclick="window.open('http://wpa.qq.com/msgrd?v=3&uin=3008009547&site=qq&menu=yes');" title="客服西西"> &nbsp; &nbsp; 客服西西</a>
				</p>
				<p style="background:url('./static/frontend/images/lrtk/lianxiqq-hezuo.png') no-repeat center;">
					<a href="javascript:;" onclick="window.open('http://wpa.qq.com/msgrd?v=3&uin=3008010996&site=qq&menu=yes');" title="合作加盟"> &nbsp; &nbsp; 合作加盟</a>
				</p>
			</div>
		</div>
		<div class="btn2 btn2-wx"><img class="pic2" src="./static/frontend/images/lrtk/qrcode.png" /></div>
		<div class="btn2 btn2-top"></div>
	</div>
</div>
<!-- 代码 结束 -->
<script type="text/javascript" src="./static/frontend/js/jquery-3.4.1.min.js" ></script>
<script type="text/javascript" src="./static/frontend/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="./static/frontend/js/swiper.min.js" ></script>
<script type="text/javascript" src="./static/frontend/js/swiper.animate1.0.2.min.js" ></script>
<script type="text/javascript" src="./static/frontend/js/count.js" ></script>
<script type="text/javascript" src="./static/frontend/js/isScroll.js" ></script>
<script type="text/javascript" src="./static/frontend/js/prism.js" ></script>
<script type="text/javascript" src="./static/frontend/js/jquery.SuperSlide.2.1.3.js" ></script>
<script type="text/javascript" src="./static/frontend/js/index.js" ></script>
	</body>
	</html>