<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{$site_full_name}</title>
	<meta name="author" content="designer:sunxiangen, date:2019-10-12" />
	<!-- Favicon -->
	<link rel="shortcut icon" href="{url:@favicon.ico}">
	<link rel="icon" href="{url:@favicon.ico}" type="image/x-icon">
	<script src="{url:@static/vendors/jquery/dist/jquery.min.js}"></script>
	<link href="{url:@static/vendors/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
	<link href="{url:@static/css/style.css}" rel="stylesheet" type="text/css"/>
	<link href="{url:@static/css/style-fixed.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
	<!-- Preloader -->
	<div class="preloader-it">
		<div class="la-anim-1"></div>
	</div>
	<!-- /Preloader -->
    <div class="wrapper">
		<!-- Top Menu Items -->
		<div class="topheader">
			<div class="pull-left">
				<a href="{url:/index/index}">
					<img src="{url:@static/images/logo_max2.png}"  style="height: 40px;" />
				</a>
			</div>
			<div class="pull-right">
				<ul class="nav navbar-right top-nav pull-right">
				</ul>
			</div>
		</div>
		<div>
			<div style="min-height:600px;">
            	<img src="{url:@static/images/governmentband2.png}" style="width: 100%">
            	<div style="height: 50px;"></div>
				<div class="container">
				    <div class="row">
				        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
				            <a href="{url:/govadmt/index}">
				                <div class="square">
				                    <div class="circular">
				                        <img src="{url:@static/images/guohui.png}">
				                    </div>
				                    <p>前海管理局</p>  
				                </div>
				            </a>
				        </div>
				        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
				            <a href="JavaScript:;">
				                <div class="square">
				                    <div class="circular">
				                        <img src="{url:@static/images/jianchayuan.png}">
				                    </div>
				                    <p>前海检察院</p>  
				                </div>
				            </a>
				        </div>
				        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
				            <a href="JavaScript:;">
				                <div class="square">
				                    <div class="circular">
				                        <img src="{url:@static/images/fayuan.png}">
				                    </div>
				                    <p>前海法院</p>  
				                </div>
				            </a>
				        </div>
				         <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center">
				            <a href="JavaScript:;">
				                <div class="square">
				                    <div class="circular">
				                        <img src="{url:@static/images/enterprise/business_tax_returns.png}">
				                    </div>
				                    <p>商秘中心</p>  
				                </div>
				            </a>
				        </div>
				    </div>
				</div>
				<div class="clearfix"></div>
				<div style="height: 50px;"></div>
            </div>
            <!-- Footer -->
            <div class="clearfix"></div>
			<div class="page-footer">
		      <div class="footer-content"></div>
		  </div>
			<!-- /Footer -->
        </div>
			<!-- /Footer -->
       
    </div>
     
    <!-- Bootstrap Core JavaScript -->
    <script src="{url:@static/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
   	<!-- Slimscroll JavaScript -->
	<script src="{url:@static/js/jquery.slimscroll.js}"></script>
	<!-- Init JavaScript -->
	<script src="{url:@static/js/init.js}"></script>
</body>


</html>


