{echo:JS::import('date');}
<link href="{url:@static/vendors/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css}" rel="stylesheet" type="text/css"/>
<style>
    .control-label{padding:5px;}
  </style>
<div class="panel-wrapper collapse in">
  <div class="panel-body">
    <form action="{url:/merchant/configsave}" class="form-horizontal" id="edit-form" name="edit-form" method="post">
      <div class="tab-struct custom-tab-1">
        <ul role="tablist" class="nav nav-tabs" id="tabs">
            {if:isset($type) && $type==2}
            <li>
                <a data-toggle="tab" role="tab" href="#tab_1">基本信息</a>
            </li>
            <li class="active">
                <a data-toggle="tab" role="tab" href="#tab_2">审核信息</a>
            </li>
            {else:}
            <li class="active">
                <a data-toggle="tab" role="tab" href="#tab_1">基本信息</a>
            </li>
          {/if}
        </ul>
      
        <div class="tab-content" id="tabcontent">
          <!-- 基本信息 -->
            <div  id="tab_1" class="tab-pane fade active in" role="tabpanel">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">商户名称：</label>
                            <label class="control-label col-md-9 col-sm-9 col-xs-9 text-left">{$merchant_name}</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">联系人：</label>
                            <label class="control-label col-md-9 col-sm-9 col-xs-9 text-left">{$contacts}</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">邮箱地址：</label>
                            <label class="control-label col-md-9 col-sm-9 col-xs-9 text-left">{$email}</label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 control-label">商户地址：</label>
                            {set:$area=AreaService::addressName($province,$city,$county)}
                            <label class="col-md-9 col-sm-9 control-label text-left">{$area}</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">详细地址：</label>
                            <label class="col-md-9 col-sm-9 control-label text-left">{$addr}</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">申请时间：</label>
                            <label class="col-md-9 col-sm-9 control-label text-left">{$created_time}</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">审核时间：</label>
                            <label class="col-md-9 col-sm-9 control-label text-left">{$review_time}</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">英文名称：</label>
                            <label class="col-md-9 col-sm-9 control-label text-left">{$english_name}</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">所属行业：</label>
                            {set:$industry=IndustryService::IndustryName($industry_id)}
                            <label class="col-md-9 col-sm-9 control-label text-left">{$industry}</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">联系电话：</label>
                            <label class="col-md-9 col-sm-9 control-label text-left">{$phone}</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">手机号码：</label>
                            <label class="col-md-9 col-sm-9 control-label text-left">{$mobile}</label>
                        </div>
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">营业执照：</label>
                            <a class="col-md-9 col-sm-9 control-label text-left" href="javascript:;" >
                                <img onclick="showMaxImg(this)" src="{$businesslicense}" width="60" height="60">
                            </a>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">审核状态：</label>
                            <label class="col-md-9 col-sm-9 control-label text-left">{$statusname}</label>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">账户状态：</label>
                            <label class="col-md-9 col-sm-9 control-label text-left">{$feestatusname}</label>
                        </div>
                    </div>
                </div>
            </div>
        <!-- 基本信息 -->
        <div  id="tab_2" class="tab-pane fade  in" role="tabpanel">
            <div class="col-md-12 col-sm-12 col-xs-12">
                    {if:isset($errmsg)}
                    <div class="message">{$errmsg}</div>
                    {/if}
                    <input type="hidden" name="status" id="status" value="{$status}">
                    <input type="hidden" name="id" value="{$id}">
                    <input type="hidden" name="email" value="{$email}">
                    <input type="hidden" name="mobile" value="{$mobile}">
                    <input type="hidden" name="type" value="{$type}">
                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 ">开通域名：</label>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <input type="text" class="form-control" placeholder="请输入要开通域名前缀" name="domain_prefix" id="domain_prefix" value="{$english_name}">
                      </div>
                      <label class="col-md-5 col-sm-5 col-xs-5 control-label text-left">
                        注：www.block.com，可自定义配置二级域名前缀,如：<span style="color:red">abc</span>.block.com，默认以英文名称。
                      </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">有效时间：从</label>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                          <input type="text" class="Wdate form-control" id="start_time" name="start_time" value="{$start_time}"  onfocus="WdatePicker()"  readonly style="background-color: #fff;">
                        </div>
                        <label class="control-label col-md-1 col-sm-1 col-xs-1">到：</label>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                          <input type="text" class="Wdate form-control" id="end_time" name="end_time" value="{$end_time}" onfocus="WdatePicker()" readonly style="background-color: #fff;">
                        </div>
                    </div>

                      
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3">备注：</label>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <textarea class="form-control" name="remark" id="remark" pattern="required" inform="0" alt="备注信息不能为空！">{$remark}</textarea>
                        </div>
                      </div>
                      <div class="form-actions mt-30">
                        {token:key=form}
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-3"></label>
                          <div class="col-md-9 col-sm-9 col-xs-9">
                            <button type="button" class="btn btn-primary mr-20" id="btnsave">禁止开通</button>
                            <button type="button" class="btn btn-success" id="btnsubmit">立即开通</button>
                          </div>
                        </div>
                      </div>
            </div>
        </div>
      </div>
      <div class="clearfix"></div>
  </form>
</div>
<script type="text/javascript">
function showMaxImg(obj){
   var src=$(obj).attr("src");
   window.parent.$("#imgModal").find("#imgshow").html("<img src='"+src+"' class='carousel-inner img-responsive img-rounded' data-dismiss='modal'>");
   window.parent.$("#imgModal").modal({
        keyboard: true,
        show:true
      });
}

    $("#btnsave").on("click",function(){
      var remark =$("#remark").val();
        if(remark==""){
          swal("备注信息不能为空！");return;
        }
        swal({   
        title: "您确认要禁止开通吗？",   
        text: "禁止开通后将对其商户发送相关信息",   
        showCancelButton: true,  
        cancelButtonText: "否，暂不禁止",   
        confirmButtonColor: "#76c880",   
        confirmButtonText: "是，立刻禁止",   
        closeOnConfirm: false 
      }, function(){
        $("#status").val(3);
        $("#edit-form").submit();
      });
    });

    $("#btnsubmit").on("click",function(){
      var english_name =$("#english_name").val() , start_time =$("#start_time").val() , end_time =$("#end_time").val() , remark =$("#remark").val();
      if(english_name==""){
        swal("请输入开通域名");return;
      }
      if(start_time==""){
        swal("请输入开始时间");return;
      }
      if(end_time==""){
        swal("请输入结束时间");return;
      }
      var start = new Date(start_time.replace("-", "/").replace("-", "/"));
      var end = new Date(end_time.replace("-", "/").replace("-", "/"));
      if(end<=start){  
        swal("结束时间不能小于等开始时间");return;
      } 
      if(remark==""){
        swal("备注信息不能为空！");return;
      }
      swal({   
        title: "您确认要开通吗？",   
        text: "开通后将无法对其修改/删除！",   
        showCancelButton: true,  
        cancelButtonText: "否，暂不开通",   
        confirmButtonColor: "#76c880",   
        confirmButtonText: "是，立刻开通",   
        closeOnConfirm: false 
      }, function(){
        $("#status").val(2);
        $("#edit-form").submit();
        
      });
    });

    $(document).ready(function() {
        {if:isset($type) && $type==2}
       
        $('#tab_2').addClass('active').siblings().removeClass('active');
        {/if}
    });
</script>